* {
  
}

#container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;   
      
}



body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(128, 128, 128, 0.132);

}

.blue { 
    background-image: url('Images/banner7\,1.jpg');
    margin: 5px;
    width: 390px;
    position: relative; right: 45px;
    height: 750px;

}

.blues {
    position: relative; bottom: 200px; left: 200px;
}

h1 {
    color: white;
    position: relative; top: 500px; right: 55px;
    font-size: 80px;
}

.ditjoe{
    color: blue;
    position: relative; right: 37px;
}



img {
    width: 275px;
    height: 275px;
    border-radius: 200px;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.436);
    border-style: solid;
    position: relative; bottom: 80px; right: 30px;    
}

.links {
    position: relative; bottom: 50px;
}

a {
    color: blue;
}

h2 {
    background-color:  gainsboro;
    width: 700px;
    text-align: center;
    
    

}

.h22 {
    background-color: gainsboro; width: 230px;
}

.row2 {

    position: relative; right: 100px;
    text-align: centr;
}

h3 {
    padding-left: 10px;
    color: white;
    background-color:  gainsboro;
}

p{
    position: relative; left: 30px;
}

.Q2 {
    background-color: gainsboro; position: relative; left: 23px; margin-right: 20.4px; 
}

.row3{

    width: 29.8px;
    position: relative; right: 170px;
    
}

.intro {
    position: relative; top: 450px; left: -109px; color: white;
}

button{
    background-color: rgba(0, 0, 255, 0.526);
}

.forms {
    background-color: gainsboro; width: 230px;

} 

.details{
    position: relative; top: 235px;
}



@media only screen and (max-width:431px){

    .blue{
        height:250px;
        padding-right: 230px;
        position: relative;left: 365px;

    }

    h1 {
        font-size: 50px;
        position: relative; top: 202px; left: 40px
    }

    img{
        width: 150px;
        height: 150px;
        position: relative;bottom: 25px; right: 180px;
    }
    
    .links{
        position: relative; bottom: 237.9px;
    }

    .intro {
        position: relative; top: 170px; left: 5px; color: white;
        font-size: 10px;
    }
    .row2{
        transform: scale(0.55);
        position: relative; right: 185px; top: 85px;
    }

    .row3 {
        transform: scale(0.55);
        position: relative; right: 735px; top: 490px;
        
    }
    .details {
        position: relative;left: 240px;
    }

    .linked {
        position: relative; bottom: 390px;

    }

    .forms {
        position: relative; bottom: 395px;
        
    }


    .email {
        position: relative;left: 270px; bottom: 535px;
    }

    .Q2 {
        background-color: gainsboro; position: relative; left: 0px; margin-right: 0px; 
    }
    

}    

@media only screen and (min-width:2560px){
    .blue { 
        background-image: url('Images/banner7\,1.jpg');
        background-size: cover;
        margin: 5px;
        width: 800px;
        position: relative; right: 100px;
        height: 1601px;
    
    }

    img{
        width: 600px;
        height: 600px;
        border-radius: 100%;
        border-width: 13px;
        position: relative;bottom: 470px; left: 40px;
    }

    h1 {
        font-size: 150px;
        position: relative; top: 770px;
    }

    .intro {
        font-size: 35px;
        
        position: relative;
        top: 640px; left: -150px;
    }

    .links {
        font-size: 35px;
        position: relative; left: 37px;
    }

    .row2 {
        transform:scale(1.2);
        position: relative; top: 160px; right: 190px;
               
    }
    p{
        font-size: 25px;
    }
    h2 , h3 {
        font-size: 40px;
    }

    h2 {
        width: 1046px;
    }

    .h22 {
        width: 350px;
    }

    ul{
        font-size: 25px;
    }

    .row3{
           
        position: relative; right: 260px; top: 7px;
    }
    .email {
        font-size: 30px
    }

    .details{
        position: relative;top: 217px;
        

    }

    .form {
        font-size: 27px;
    }

    .forms{
        width: 340px;
    }
    
   .body {
      margin-right: 100px;
      
   }

   .sk2 {
    font-size: 32px;

   }

   .linked {
    font-size: 32px;
   }
   


}

@media only screen and (max-width:800) and(max-width:1024px){
    .row3{
        position: relative;top: 800px;
    }

    .row2{
        position: relative; right: 20px;
    }

    .blue{
        position: relative; right: 0;
    }
    img {
        position: relative; right: 170px; top: 1px;
        width: 200px;
        height: 200px;
    }

    h1{
        font-size: 50px;
        position: relative; bottom: 10px;
    }

}