img {
    width: 173px;
    height: 125;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: rgba(128, 128, 128, 0.132);
}


.blue {
    background-color: rgba(0, 8, 255, 0.163);
    color: white;
}
h2 {
    background-color: gainsboro;
    color: black;
}

h3 {
    background-color: gainsboro;
    color: white;

}

