*{
    margin: 5px;
}

img {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    border-width: 5px;
    border-color: rgb(128, 126, 126);
    border-style: solid;
    position: relative;
    top: 70px;
}

aside {
    margin-left: 100px;
}

.links {
    margin-left: 800px;
}

header {
    text-align: center;
    padding-top: 20px;
}

.intro {
    padding-left: 2px;
}

a {
    color: blue;
    
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: rgba(128, 128, 128, 0.132);
    background-color: ;
    border:solid;
    border-width: 4px;
    border-color:rgb(90, 90, 90);
}


.blue {
    background-color: rgba(0, 8, 255, 0.163);
    color: white;
    
   
    
}
h2 {
    background-color: gainsboro;
    color: black;
    text-align: center;
}

h3 {
    background-color: gainsboro;
    color: white;
    padding-left: 10px;
    


}
h2{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-size: 80px;
}

p{
    padding-left: 30px;
}

aside {
    display: flex;
    align-items: center;
    
}

.Education { margin-right: 800px;
    background-color: rgba(128, 128, 128, 0.379);
    position: relative; left: 200px; top: 50px; 
    
    
}

.Experience {
    margin-right: 800px;
    background-color: rgba(0, 8, 255, 0.163);
    position: relative; top: 10px; left: 720px;
}

.Skills {
    margin-right: 800px;
    background-color: rgba(141, 141, 141, 0.612);
}